div.suggested_companies_container {
    margin-top: 25px
}

div.suggested_company {
    width: 450px;
    border-radius: 10px;
    background-color: #c7c7c7;
    padding-top: 10px;
}

h3 {
    font-size: 20px;
}

h1 {
    font-size: 31px;
}

h4.company-add {
    text-decoration: none;
    padding-left: 35%;
    padding-bottom: 25px;
    margin-top: -5px;
}

h4.company-add:hover {
    text-decoration: none;
}