h1 {
  margin-left: 10px;
}

p {
  font-size: 1.3em;
  font-weight: 300;
}

div#homeDiv {
  margin-left: 0px;
}

a.intext {
  margin-left: 0;
}

a.intext:hover {
  text-decoration: none;
}

div.textDiv {
    padding: 20px;
    background: #f3f3f3;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 15px;
}

img {
  position: absolute;
  bottom: 30px;
  width: 30%;
  left: 35%;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}